{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row" id="checkout-block">
        <div class="col-md-12">
            <a href="{% url 'store' %}"><button type="button" class="btn btn-outline-dark">← Continue shopping</button></a>
            <hr>
            <div class="box item"><h6>Items: {{order.get_cart_items}}</h6></div>
            <div class="box total"><h6>Total: ₹{{order.get_cart_total}}</h6></div>
            <div class="box success">
                <a href="{% url 'checkout' %}">
                <button type="button" class="btn btn-success btn-sm" style="border-radius: 2%;">Checkout</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row pb-3" id="checkout-block">
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-3"><strong>Product</strong></div>
            <div class="col-md-3"><strong>Name</strong></div>
            <div class="col-md-2"><strong>Price</strong></div>
            <div class="col-md-2"><strong>Quantity</strong></div>
            <div class="col-md-2 "><strong>Total</strong></div>
        </div>
        <hr>
    </div>
        {% for item in items %}
        <div class="col-md-12">
            <div class="row pb-2">
                <div class="col-md-3">
                    <a href="#"><img src="{{item.product.imageURL}}" alt="Pimg" width="62px" height="62px"></a>
                </div>
                
                <div class="col-md-3">
                    {{item.product.name}}
                </div>
                <div class="col-md-2">
                    ₹{{item.product.price|floatformat:0}}
                </div>
                <div class="col-md-2">
                    <div style="margin-left: 10px;">
                        <strong>{{item.quantity}}</strong>
                    <img data-product="{{item.product.id}}" data-action="add"  src="{% static 'images/arrow-up.png' %}" class="arrow update-cart" id="UP" alt="">
                    <div class="w-100"></div>
                    <img data-product="{{item.product.id}}" data-action="remove" src="{% static 'images/arrow-down.png' %}" class="arrow update-cart" id="DOWN" alt="">
                    </div>
                </div>
                <div class="col-md-2">
                    ₹{{item.get_total}}
                </div>
            </div>
        </div>
        <hr>
        <!-- <div class="box">
            <a href="#"><img src="{{item.product.imageURL}}" alt="Pimg" width="100px"></a>
        </div>
        <div class="box lm-2">{{item.product.name}}</div>
        <div class="box lm-2">{{item.product.price|floatformat:0}}</div>
        <div class="box lm-2" ><strong>{{item.quantity}}</strong></div>
        <img src="{% static 'images/arrow-up.png' %}" class="arrow" id="UP" alt="">
        <img src="{% static 'images/arrow-down.png' %}" class="arrow" id="DOWN" alt="">
        <div class="box lm-2" style="left: 75px;">₹1000</div> -->
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}
